[submodule "sshpass"]
	path = sshpass
	url = https://github.com/ajanis/sshpass.git
[submodule "spoctunnel"]
	path = spoctunnel
	url = https://github.com/ajanis/spoctunnel.git
[submodule "MovieRoomRemote"]
	path = MovieRoomRemote
	url = https://github.com/ajanis/MovieRoomRemote.git
